form {
	width: 50%;
	margin: 30px auto;
	border-radius: 5px; 
	padding: 10px;
	background: #FFFFF;
	border: 1px solid black;
}

form p {
	color: red;
	margin: 0px;
}

.task_input {
	width: 75%;
	height: 15px; 
	padding: 10px;
	border: 2px solid black;
}

.add_btn {
	height: 39px;
	background: #FFFFF;
	border: 2px solid black;
	border-radius: 5px; 
	padding: 5px 20px;
}

table {
    width: 50%;
    margin: 30px auto;
    border-collapse: collapse;
}

tr {
	border-bottom: 1px solid #cbcbcb;
}

th {
	font-size: 19px;
	color: #6B8E23;
}

th, td{
	border: none;
    height: 30px;
    padding: 2px;
}

tr:hover {
	background: #E9E9E9;
}

.task {
	text-align: left;
}

.delete{
	text-align: center;
}
.delete a{
	color: white;
	background: #a52a2a;
	padding: 1px 6px;
	border-radius: 3px;
	text-decoration: none;
}